!!!
%html
  %head
    %title halogen
    %link{:href => '/styles/styles.css', :media => 'screen', :type => 'text/css', :rel => 'stylesheet'}
    %script{:type => 'text/javascript', :src => '/scripts/jquery.js'}
    %script{:type => 'text/javascript', :src => '/scripts/jquery.flickr.js'}
  %body
    = yield