%h1 FLICKR GO HEAR
%p= @user
%p= @set

.photos

:javascript
  $('.photos').flickr({
    'api_key': '4d24030c9ead700bb60d5abfc7a21faf',
    'type': 'photoset',
    'photoset_id': '72157623711281550',
    'thumb_size': 'b',
    'size': 'm'
  });